{% extends "base.html" %} {% block title %} Kegelabend {{
  game.date_created.strftime('%Y-%m-%d') }} {% endblock %} {% block content %}
  <div style="flex: 1; margin: auto; padding: 15px">
    <button
      style="outline: none; border: 0; background: none"
      onclick="location.href='/'"
    >
      <img
        src="/static/images/beer_landing_page_small_size.png"
        class="logo-picture"
      />
    </button>
  </div>
<br>
<table class="table table-responsive">
    <thead>
      <th colspan="{{ penalty_sum }}">
        <h2 class="center"> Zusammenfassung </h2>
    </thead>
    <tbody>
      <tr class="text-center text-style">
        <td>Spieler</td>
        {% for penalty in all_penalties %}
        <td>{{ penalty.title }}</td>
        {% endfor %}
        <td>Strafbetrag</td>
        <td>Spieler</td>
      </tr>
      {% for summary_object in game_summary_objects %}
        <tr class="text-center text-style">
              <td style="vertical-align: middle;">
                {{summary_object.participant_name}}
              </td>
          {% for penalty in summary_object.penalties %}
          <td>
            <div >{{penalty.penalty_quantity}}</div>
          </td>
          {% endfor %}
          <td>{{ summary_object.participant_total_fine.total_pay_amount }} €</td>
          <td style="vertical-align: middle;">
            {{summary_object.participant_name}}
          </td>
        </tr>
        {% endfor%}
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <table class="table table-bordered">
    <thead>
    <th colspan="3">
      <h2 class="center"> Rangliste </h2>
  </thead>
  <tbody>
  {% for penalty, (player_name, quantity) in tier_list.items() %}
  <tr  class="text-style">
    <td>
  {{ penalty }}
  </td>
  <td>{{ player_name }}</td>
  <td> mit {{ quantity }}</td>
</tr>
  {% endfor %}
</tbody>
</table>
<br>
  {% endblock %}