{% extends "base.html" %} {% block title %}Home {% endblock %} {% block content
%}
<div style="display: flex; flex-wrap: wrap">
  <div style="flex: 1; margin: auto; padding: 15px">
    <button
      style="outline: none; border: 0; background: none"
      onclick="location.href='/'"
    >
      <img
        src="/static/images/beer_landing_page_small_size.png"
        class="logo-picture"
      />
    </button>
  </div>
</div>
<div style="display: flex; flex-wrap: wrap">
  <div style="flex: 1; margin: auto; padding: 15px">
    <div
      class="list-group list-column"
      style="margin: 40px 0; height: 130px; width: 130px"
    >
      <a onclick="location.href='/view_archive'">
        <img
          src="/static/images/archive.png"
          alt="archiv"
          height="70"
          width="70"
        />
      </a>
      <p class="text-style">Archiv</p>
    </div>
    <div
      class="list-group list-column"
      style="margin: 40px 0; height: 130px; width: 130px"
    >
      <a onclick="location.href='/penalties'">
        <img
          src="/static/images/penalties.png"
          alt="Penalties"
          height="70"
          width="70"
        />
      </a>
      <p class="text-style">Strafen</p>
    </div>
  </div>
</div>
<div style="display: flex; flex-wrap: wrap">
  <div style="flex: 1; margin: auto; padding: 15px">
    <div
      class="list-group list-column"
      style="margin: 40px 0; height: 130px; width: 130px"
    >
      <a onclick="location.href='/create_or_load_game'">
        <img
          src="/static/images/trophy.png"
          alt="Games"
          height="70"
          width="70"
        />
      </a>
      <p class="text-style">Strichliste</p>
    </div>
    <div
      class="list-group list-column"
      style="margin: 40px 0; height: 130px; width: 130px"
    >
      <a onclick="location.href='/user_management'">
        <img
          src="/static/images/add-user.png"
          alt="user-management"
          height="70"
          width="70"
        />
      </a>
      <p class="text-style">Spieler</p>
    </div>
  </div>
</div>
{% endblock %}
