{% extends "base.html" %} {% block title %} Kegelabend {{
game.date_created.strftime('%Y-%m-%d') }} {% endblock %} {% block content %}
<script src="/static/js/game_configuration.js"></script>
<table class="table table-responsive">
  <thead>
    <tr class="text-center text-style">
      <th colspan="{{ all_penalties|length + 2 }}">Gametable</th>
    </tr>
  </thead>
  <tbody>
    {% for player_record in player_record_list %} {% set avatar_path =
    '/static/images/profile_avatars/avatar' + player_record.avatar_index|string
    + '.png' %}
    <tr class="text-center text-style">
      <td style="vertical-align: middle">
        <div
          onclick="toggleUserPenalties('{{ player_record.game_id}}-{{ player_record.participant_id }}-tablecell')"
          class="player-square square-border"
        >
          <img src="{{ avatar_path }}" alt="Avatar" class="avatar-image" />
        </div>
        <a class="participant_name">{{player_record.participant_name}}</a>
      </td>
      {% for penalty in player_record.penalties %}
      <td
        class="hideRow"
        id="{{ player_record.game_id}}-{{ player_record.participant_id }}-tablecell"
        style="min-width: 150px"
      >
        <br />
        {{penalty.penalty_name}}
        <br />
        <div
          id="{{player_record.game_id}}-{{penalty.id}}-{{player_record.participant_id}}-{{penalty.penalty_amount}}-penalty-quantity"
        >
          {{penalty.penalty_quantity}}
        </div>
        <button
          id="{{player_record.game_id}}-{{ penalty.id}}-{{player_record.participant_id}}-add"
          onclick="update_quantity('{{ player_record.game_id }}-{{ penalty.id}}-{{player_record.participant_id}}-{{penalty.penalty_amount}}-add')"
          class="quantity-up-button"
          style="height: 40px; width: 40px; background-color: lightgreen"
          type="submit"
        >
          &#43;
        </button>
        <button
          id="{{player_record.game_id}}-{{ penalty.id}}-{{player_record.participant_id}}-subtract"
          onclick="update_quantity('{{ player_record.game_id }}-{{ penalty.id}}-{{player_record.participant_id}}-{{penalty.penalty_amount}}-subtract')"
          class="quantity-down-button"
          style="height: 40px; width: 40px; background-color: #f87217"
          type="submit"
        >
          &#8722;
        </button>
      </td>
      {% endfor %}
      <td>
        <div
          id="{{ player_record.game_id }}-{{ player_record.participant_id }}-total-fine"
          style="vertical-align: middle"
        >
          <br />{{player_record.participant_total_fine.total_pay_amount|
          default(0)}} €
        </div>
      </td>
    </tr>
    {% endfor%}
  </tbody>
</table>
<form
  action="{{ url_for('configure.finish_game', game_id = game.id) }}"
  method="POST"
>
  <button type="submit" class="mb-4 game-finish-btn btn-primary">
    Abend beenden
  </button>
</form>
{% endblock %}
